Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Перенаправление всех запросов кроме существующих файлов и директорий на index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
